<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script -->
<!-- 	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
<!-- </head> -->
</head>
<body>
	<div ng-controller="myCtrl">
		<p>현재시간은 : {{time}}</p>
	</div>
	<input type="text" ng-model="name"/>
	<p>Hello {{name}}</p>
	<p>2-Way</p>
	<input type="text" ng-model="name"/>
	<p>1-Way</p>
	<input type="text" value="{{name}}"/>
</body>
<script>
	var app = angular.module("myApp", []);

	app.controller("myCtrl", function($scope, $interval) { //$scope와 $interval이 필요하다는 걸 명시 해줘야 함
		
		var getTime = function() {
			$scope.time = new Date();
		};
		
		$interval(getTime, 1000);
	});
</script>
</html>