<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8"/>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
</head>
<body>

<div ng-controller="HelloController">
	<p>COUNT: <input type="text" ng-model="product.cnt"/></p> <!-- 사용자가 model을 건들여야 하는 부분에서 ngModel을 사용한다. -->
	<p>PRICE: <input type="text" ng-model="product.price"/></p>
	<p>TOTAL: <input type="text" value="{{product.cnt * product.price}}"/></p>
</div>

<div ng-controller="Hello2Controller">
	<p>Hello {{name}}</p>
	<p>Hello <h2 ng-bind='name'></h2></p> 
</div>

<div ng-controller="Hello3Controller">
	<p>{{name}}</p>
</div>

<div ng-controller="Hello4Controller">
	<p ng-bind-html='name'></p>
</div>
<script>
	var app = angular.module("myApp",['ngSanitize']);
	
	app.controller("HelloController",function($scope){
		var product = {
				cnt : 10,
				price : 25
		};
		
		$scope.product = product;
	});
	
	app.controller("Hello2Controller",function($scope){
		$scope.name = "World!";
	});
	
	app.controller("Hello3Controller",function($scope){
		$scope.name = "<h1>Hello World!</h1>";
	});
	
	app.controller("Hello4Controller",function($scope){
		$scope.name = "<h1>Hello World!</h1>";
	});
	
	
</script>
</body>
</html>