<!DOCTYPE html>
<html ng-app="sample">
<head>
<meta charset="utf-8"/>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script -->
<!-- 	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
<!-- </head> -->
</head>
<body>

</body>
<script>
	var data = [{
		"date" : "2016-06-10",
		"name" : "홍길동",
		"id"   : "001",
		"flag" : false
	},{
		"date" : "2016-06-11",
		"name" : "김수동",
		"id"   : "002",
		"flag" : false
	},{
		"date" : "2016-06-12",
		"name" : "이민석",
		"id"   : "003",
		"flag" : false 
	}];

	var app = angular.module("sample",[]);
</script>
</html>