<!DOCTYPE html>
<html ng-app="myApp" ng-init="grade='D'; targetGrade='A'">
<head>
<meta charset="utf-8" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"/>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" 
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"/>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">Select Your Grade!</div>
		<div class="panel-body">
			Check Your Grade: <select ng-model="grade">
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option>
			</select>
			<p>{{grade}}</p>
			<div ng-switch on="grade">
				<p ng-switch-when="A">Good Job!!!</p>
				<p ng-switch-when="B">Good</p>
				<p ng-switch-when="C">So So...</p>
				<p ng-switch-when="D">Well...</p>
				<p ng-switch-default>Nothing to say...</p>
			</div>
		</div>
		<div>ng-if</div>
		<div>
			Click me: <input type="checkbox" ng-model="result" />
			<div ng-if="result">Result is true!</div>
			<div ng-if="!result">Result is false!</div>
		</div>
	</div>
	<div ng-controller="gcontroller">
		Check Your Grade: <select ng-model="targetGrade">
			<option ng-repeat="grade in grades">{{grade}}</option>
		</select>
		<p>{{targetGrade}}</p>
		<div ng-switch on="targetGrade">
			<p ng-switch-when="A">Good Job!!!</p>
			<p ng-switch-when="B">Good</p>
			<p ng-switch-when="C">So So...</p>
			<p ng-switch-when="D">Well...</p>
			<p ng-switch-default>Nothing to say...</p>
		</div>
	</div>
	
	<table class="table">
		<tr ng-repeat="(key,value) in {'subject':'Korean', 'grade':'A'}">
			<td>{{key}}</td>
			<td>{{value}}</td>
		</tr>
	</table>
	
	<table class="table" ng-controller="gcontroller2">
		<tr ng-repeat="grade in grades" class="{{$even?'active':'warning'}}">
			<td>{{grade.subject}}<span ng-if="$first">+</span></td> <!-- 첫번째 row이면 +를 붙인다. -->
			<td>{{grade.grade}}</td>
			<td ng-click="showGrade(grade)"><p ng-if="grade.isShow" class="badge">{{grade.grade}}</p></td>
		</tr>
	</table>
	
	<div class="panel panel-primary" ng-controller="gcontroller3">
		<div class="panel-body">
			<div>
				<p ng-repeat-start="grade in grades">
				-----------------------------{{grade.subject}} Start--------------------</p>
				<h2>{{grade.subject}} {{grade.grade}}</h2> <!-- 반복되는 본문 -->
				<p ng-repeat-end>
				-----------------------------{{grade.subject}} End--------------------</p>
			</div>
		</div>
	</div>
	
	<script>
		var app = angular.module("myApp", []);
		app.controller("gcontroller", function($scope) {
			$scope.grades = [ 'A', 'B', 'C', 'D' ];
		});
		
		app.controller("gcontroller2",function($scope){
			$scope.grades = [{
				"subject" : "Korean",
				"grade" : "A"
			},{
				"subject" : "Math",
				"grade" : "B"
			},{
				"subject" : "English",
				"grade" : "A"
			},{
				"subject" : "Music",
				"grade" : "D"
			}];
			
			$scope.showGrade = function(grade){
				console.dir(grade);
				grade.isShow = grade.isShow?!grade.isShow:true;
			}
		});
		
		app.controller("gcontroller3",function($scope){
			$scope.grades = [{
				"subject" : "Korean",
				"grade" : "A"
			},{
				"subject" : "Math",
				"grade" : "B"
			},{
				"subject" : "English",
				"grade" : "A"
			},{
				"subject" : "Music",
				"grade" : "D"
			}];
		});
		
	</script>
</body>
</html>